@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: $background-color;
  font-family: ($primary-font, $secondary-font, sans-serif);
  color: $black-forest;
  @media (max-width: 767px) {
    padding: 0 7px;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 0 7px;
  }
}

input {
  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

button {
  background-color: none;
}

::selection {
  background-color: hotpink;
  color: white;
}
